################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BloomEngine/BloomEngine.VC.VC.opendb
